<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <%= @user.name %>様<br>
    <br>
    <%= @user.name %>様のアカウントで、メールアドレスの変更の依頼を承りました。<br>
    <br>
    こちらのアドレスを本登録して差し支えないようでしたら、<br>
    下記のURLをクリックいただければ、本登録とさせていただきます。<br>
    <a href="#"><%= @url %></a><br>
    <br>
    今後ともよろしくお願いいたします。<br>
    <br>
    <br>
    ※当メールは送信専用メールアドレスから配信されています。<br>
    このままご返信いただいてもお答えできませんのでご了承ください。<br>
    <br>
    ※当メールに心当たりの無い場合は、誠に恐れ入りますが<br>
    破棄して頂けますよう、よろしくお願い致します。<br>
    </body>
</html>